
html {
  font-size: 65%
}


body {
  margin: 0;
  font: 300 11px/1.4 'Retro Gaming', 'sans-serif';
  background-image: url('./assets/images/bb2.png'); 
  overflow: hidden;
  display: block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



